@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);

  --color-background: #0a0a0a;
  --color-foreground: #ededed;

  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;

  --color-secondary: #1f2937;
  --color-secondary-foreground: #ffffff;

  --color-accent: #8b5cf6;
  --color-accent-foreground: #ffffff;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}